.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  @media screen and(max-width: 900px) {
    flex-direction: column;
  }
  .portfolio-container {
    display: flex;
    .items {
      display: flex;

      .item {
        width: 300px;

        .field {
          width: 100%;
          padding: 10px 0;
          border: 1px solid #80808063;
        }
        .delete-btn {
          width: 100%;
          padding: 2.5vh 25px;
          display: inline-block;
          border: 1px solid #ccc;
          background-color: #c74242;
          color: white;
          cursor: pointer;
        }
        .edit-btn {
          background: #426cc7;
        }
      }
    }
  }
}

::ng-deep {
  .fr-box.fr-basic .fr-element {
    min-height: 100px;
  }
  .fr-toolbar {
    border-top: 5px solid #dca5c5;
  }
  .fr-quick-insert {
    display: none;
  }
}

