<div class="container">
  <button>add portfolio</button>
  <div class="portfolio-container" [ngClass]="{'hide-url-uploader': hideRowImage}">
    <div class="items">
      <div class="item" *ngFor="let item of portfolioContent.portfolios">
        <img src="{{item.media}}" alt="img" class="image-url">
        <p class="field">{{item.date | date: 'yyy'}}</p>
        <p class="field">{{item.title}}</p>
        <p class="field" [innerHtml]="item.description"></p>
        <button class="delete-btn" (click)="deletePortfolio(item.id)">delete</button>
        <button class="delete-btn edit-btn" routerLink="/main/portfolio-edit"
                (click)="userService.getPortfilioItem(item)">edit</button>
    </div>
      </div>
  </div>
</div>
