<div class="container">
  <div class="togle-rows">
    <button class="add-portfolio" (click)="trigerUploader()">
      <span [ngClass]="{'hide-url-uploader': hideRowImage}">add portfolio</span>
      <span [ngClass]="{'hide-file-uploader': hideRowField}">show portfolio</span>
    </button>
  </div>
  <!--portfolios items-->
  <div class="portfolio-container" [ngClass]="{'hide-url-uploader': hideRowImage}">
    <div class="items">
      <div class="item" *ngFor="let item of portfolioContent.portfolios">
        <img *ngIf="!toggleImageToVideo(item.media)" src="{{item.media}}" alt="img" class="image-url">
        <iframe *ngIf="toggleImageToVideo(item.media)" width="100%" height="auto" [src]="item.media | safe"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <p class="field">{{item.date | date: 'yyy'}}</p>
        <p class="field">{{item.title}}</p>
        <p class="field" [innerHtml]="item.description"></p>
        <button class="delete-btn" (click)="deletePortfolio(item.id)">delete</button>
        <button class="delete-btn edit-btn" (click)="openEdit(item)">edit</button>
      </div>
    </div>
  </div>
  <!--add portfolio-->
  <div class="togle-rows" (click)="toggleUploader()">
    <img src="./../../../../assets/change.png" alt="change">
  </div>
  <div class="row-box"
       [ngClass]="{'hide-file-uploader': hideRowField}">
    <img [src]="portfolios.media" alt="" class="media-popup">
    <div class="file-box">
      <input type="file" name="file"
             class="inputfile" id="file"
             ngFileSelect [options]="options"
             (uploadOutput)="onUploadOutput($event, 'topBlockMedia')"
             [uploadInput]="uploadInput"
             *ngIf="showImage"
      >
      <label for="file" *ngIf="showImage">+</label>
      <input type="text" class="field-video" placeholder="video" *ngIf="showUrl" [(ngModel)]="currentUploadedImage">
    </div>
    <div class="fields-box">
      <input type="date" class="text-field" placeholder="year" [(ngModel)]="portfolios.date">
      <input type="text" class="text-field" placeholder="title" [(ngModel)]="portfolios.title">
      <textarea
        [froalaEditor]="configs"
        [(ngModel)]="portfolios.description"
      ></textarea>
      <div class="btn-box">
        <button class="portfolio-btn save" (click)="addPortfolio()">save portfolio</button>
      </div>
    </div>
  </div>
  <!--change portfolio-->
  <div class="popup" *ngIf="popup">
    <div class="close-box">
      <img src="../../../../assets/cancel.png" alt="cancel" (click)="popup = false">
    </div>
    <div class="row-box">
      <img src="{{portfolios.media}}" alt="" class="media-popup">
      <div class="file-box">
        <input type="file" name="file"
               class="inputfile" id="file3"
               ngFileSelect [options]="options"
               (uploadOutput)="onUploadOutput($event, 'topBlockMedia')"
               [uploadInput]="uploadInput"/>
        <label for="file3">+</label>
        <input type="text" class="field-video" placeholder="video" [(ngModel)]="portfolios.media">
      </div>
      <div class="fields-box">
        <input type="date" class="text-field" placeholder="year" [(ngModel)]="portfolios.date">
        <input type="text" class="text-field" placeholder="title" [(ngModel)]="portfolios.title">
        <textarea
          [froalaEditor]="configs"
          [(ngModel)]="portfolios.description"
        ></textarea>
        <div class="btn-box">
          <button class="portfolio-btn save" (click)="changePortfolio()">save portfolio</button>
        </div>
      </div>
    </div>
  </div>
</div>
