.container {
  width: 100%;
  font-family: sans-serif;

  span {
    color: silver;
  }

  .row-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;

    .pink-block,
     .white-block {
      width: 100%;

      textarea {
        width: 100%;
      }
    }

    .btn-box {
      display: flex;

      .save-bio-btn {
        width: 100%;
        padding: 2.4vh 25px;
        display: inline-block;
        border: 1px solid #ccc;
        background-color: #6e6e6e;
        color: white;
        cursor: pointer;
        margin-top: 5px;
        font-size: 16px;
      }
    }
  }
}
.has-error {
  background: #9b4242;
}
::ng-deep {
  .fr-box.fr-basic .fr-element {
    min-height: 100px;
  }
  .fr-toolbar {
    border-top: 5px solid #dca5c5;
  }
  .fr-quick-insert {
    display: none;
  }
}
