<div class="container">
  <div class="row-box">
    <div class="pink-block">
      <span>save pink block</span>
      <textarea
        [froalaEditor]="options"
        [(ngModel)]="contentBio.pinkBlockText"
        ></textarea>
    </div>
    <div class="white-block">
      <span>save white block</span>
      <textarea
        [(ngModel)]="contentBio.whiteBlockText"
        [froalaEditor]="options"></textarea>
    </div>
    <div></div>
    <div class="btn-box">
      <button class="save-bio-btn" (click)="saveChanges()"> save bio</button>
    </div>
  </div>
</div>
