<div class="container">
    <div class="form-container">
      <div class="photo-block">
        <img src="../../assets/login/lock.png" alt="lock">
      </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text"
             class="field"
             formControlName="login"
             [ngClass]="{'has-error': form.get('login').invalid && form.get('login').touched}">
      <span class="error-message" *ngIf="form.get('login').invalid && form.get('login').touched">
        <span *ngIf="form.get('login') ['errors'] ['required']">login can't be empty</span>
        <span *ngIf="form.get('login') ['errors'] ['login']">Enter the correct login</span>
      </span>
      <input
        type="password"
        class="field"
        formControlName="password"
        [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
      <span class="error-message" *ngIf="form.get('password').invalid && form.get('password').touched">
        <span *ngIf="form.get('password') ['errors'] ['required']">Password can't be empty</span>
        <span *ngIf="form.get('password') ['errors'] ['minlength']">
          Password must have
          {{form.get('password') ['errors'] ['minlength'] ['requiredLength']}}
          sumbols. Now you entered
          {{form.get('password') ['errors'] ['minlength'] ['actualLength']}}
        </span>
      </span>
      <!--<input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="field">-->
      <!--<input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="field">-->
      <button
        type="submit"
        class="btn-login"
        [disabled]="form.invalid">Login</button>
    </form>
  </div>
</div>

