<div class="container">
  <div class="row-box">
    <div class="file-box">
      <input type="file" name="file" id="file" class="inputfile"/>
      <label for="file">+</label>
    </div>
    <div class="fields-box">
      <input type="text" class="text-field" placeholder="year">
      <input type="text" class="text-field" placeholder="title">
      <textarea cols="52" rows="1" class="text-field"> description</textarea>
      <div class="btn-box">
      <button class="portfolio-btn save">save portfolio</button>
        <button class="portfolio-btn delete">delete portfolio</button>
        <button class="portfolio-btn edit">edit portfolio</button>
      </div>
    </div>
  </div>
  <div class="row-box">
    <div class="file-box url-field">
      <input type="text"  class="field-video" placeholder="Url">
    </div>
    <div class="fields-box">
      <input type="text" class="text-field" placeholder="year">
      <input type="text" class="text-field" placeholder="title">
      <textarea cols="52" rows="1" class="text-field"> description</textarea>
      <div class="btn-box">
        <button class="portfolio-btn save">save portfolio</button>
        <button class="portfolio-btn delete">delete portfolio</button>
        <button class="portfolio-btn edit">edit portfolio</button>
      </div>
    </div>
  </div>


  <div class="popup-portfolio">

  </div>
</div>
