<div class="container">
  <div class="togle-rows" (click)="trigerUploader()">
    <img src="./../../../../assets/change.png" alt="change">
  </div>
  <div
    class="row-box"
    [ngClass]="{'hide-file-uploader': hideRowImage}">
    <span>upload image</span>
    <input type="text" class="field-video" placeholder="header" [(ngModel)]="textContent.title">
    <input type="file" name="file"
           class="inputfile" id="file"
           ngFileSelect [options]="options"
           (uploadOutput)="onUploadOutput($event, 'topBlockMedia')"
           [uploadInput]="uploadInput"
    >
    <label for="file">+</label>
    <textarea
      [froalaEditor]='configs'
      [(froalaModel)]="textContent.description"></textarea>
    <input type="file" name="file"
           id="file2" ngFileSelect
           [options]="options" class="inputfile"
           (uploadOutput)="onUploadOutput($event, 'bottomBlockMedia')"
           [uploadInput]="uploadInput"
    >
    <label for="file2">+</label>
    <div class="btn-box">
      <button class="save-text-btn" (click)="saveChanges()">save text</button>
    </div>
  </div>
  <div class="row-box" [ngClass]="{'hide-url-uploader': hideRowField}">
    <span>past url</span>
    <input type="text" class="field-video" placeholder="header" [(ngModel)]="textContent.title">
    <input type="text" class="field-video" [(ngModel)]="textContent.topMediaBlock">
    <textarea [froalaEditor]='configs' [(froalaModel)]="textContent.description"></textarea>
    <input type="text" class="field-video" [(ngModel)]="textContent.bottomMediaBlock">
    <div class="btn-box">
      <button class="save-text-btn">save text</button>
    </div>
  </div>
</div>
