<div class="container">
  <div class="togle-rows" (click)="trigerUploader()">
    <img src="./../../../../assets/change.png" alt="change">
  </div>
  <div class="row-box" [ngClass]="{'hide-file-uploader': hideRowImage}">
  <form (ngSubmit)="validateFields()">
    <span>upload image</span>
    <input type="file" name="file" id="file" class="inputfile"
           [(ngModel)]="content.urlFirst"
           />
    <label for="file">+</label>
    <textarea

      [froalaEditor]='options'
      [(froalaModel)]="content.description"></textarea>
    <input type="file" name="file2" id="file2" class="inputfile"
           [(ngModel)]="content.urlSecond"
           />
    <label for="file2">+</label>
    <div class="btn-box">
      <button class="save-text-btn" (click)="test()">save text</button>
    </div>
  </form>
  </div>
  <div class="row-box" [ngClass]="{'hide-url-uploader': hideRowField}">
    <span>past url</span>
    <input type="text" class="field-video" [(ngModel)]="content.urlFirst">
    <textarea [froalaEditor]='options' [(froalaModel)]="content.description"></textarea>
    <input type="text" class="field-video" [(ngModel)]="content.urlSecond">
    <div class="btn-box">
      <button class="save-text-btn">save text</button>
    </div>
  </div>
</div>
