.container {
  width: 100%;
  font-family: sans-serif;

  .row-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;

    .btn-box {
      display: flex;

      .save-policy-btn {
        width: 100%;
        margin-top: 5px;
        padding: 2.5vh 25px;
        display: inline-block;
        border: 1px solid #ccc;
        background-color: #6e6e6e;
        color: white;
      }
    }
  }
}
::ng-deep {
  .fr-box.fr-basic .fr-element {
    min-height: 100px;
  }
  .fr-toolbar {
    border-top: 5px solid #dca5c5;
  }
  .fr-quick-insert {
    display: none;
  }
}
