<div class="container">
  <nav >
    <span class="item" routerLinkActive="active"><a [routerLink]="'bio'">bio</a></span>
    <span class="item" routerLinkActive="active"><a [routerLink]="'text'">text</a></span>
    <span class="item" routerLinkActive="active"><a [routerLink]="'privacy-policy'">policy</a></span>
    <span class="item" routerLinkActive="active"><a [routerLink]="'portfolio'">portfolio</a></span>
    <button class="item log-out-btn" (click)="logOut()">Log Out</button>
  </nav>
</div>

