<div class="row-box">
  <div class="file-box">
    <input type="file" name="file"
           class="inputfile" id="file"
           ngFileSelect [options]="options"
           (uploadOutput)="onUploadOutput($event, 'topBlockMedia')"
           [uploadInput]="uploadInput"
    >
    <label for="file">+</label>
  </div>
  <div class="fields-box">
    <input type="date" class="text-field" placeholder="year" [(ngModel)]="item.date">

    <input type="text" class="text-field" placeholder="title" [(ngModel)]="item.title">
    <textarea
      [froalaEditor]="configs"
      [(ngModel)]="item.description"
    ></textarea>
    <div class="btn-box">
      <button class="" (click)="save(item)">save portfolio</button>
    </div>
  </div>
</div>
