<form action="">
<div class="row-box"
     [ngClass]="{'hide-file-uploader': hideRowField}">
  <div class="file-box">

    <input type="file" name="file"
           class="inputfile" id="file"
           ngFileSelect [options]="options"
           (uploadOutput)="onUploadOutput($event, 'topBlockMedia')"
           [uploadInput]="uploadInput"
    >
    <label for="file">+</label>
  </div>
  <div class="fields-box">
    <input type="date" class="text-field" placeholder="year">

    <input type="text" class="text-field" placeholder="title">
    <textarea
      [froalaEditor]="configs"
    ></textarea>
    <div class="btn-box">
      <button class="portfolio-btn save">save portfolio</button>
    </div>
  </div>
</div>
</form>
